.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #f5b856;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.greetingsTitle {
  margin-left: 300px;
  font-size: 1.8em;
  color: #333; /* Cor do texto */
}

/* Estilos da navegação */
.nav {
  display: flex;
  gap: 20px;
}

.headerLinks {
  font-size: 1.2em;
  padding: 10px 20px;
  text-decoration: none;
  color: #333; /* Cor das letras */
  font-weight: bold;
}

/* Ícone de menu (hambúrguer) */
.menuIcon {
  display: none;
  cursor: pointer;
  color: #333;
}

/* Ícone de fechar o menu no modo mobile */
.closeMenuIcon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
}

/* Estilos da navegação quando o menu está aberto em telas pequenas */
.navOpen {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color:#f5b856; 
  z-index: 1000;
  padding-top: 50px;
  transition: transform 0.3s ease-in-out;
}

/* Estilos para telas menores (até 768px) */
@media (max-width: 768px) {
  /* Esconder a navegação em telas menores */
  .nav {
    display: none;
  }

  /* Exibir o ícone de menu (hambúrguer) */
  .menuIcon {
    display: block;
  }

  /* Exibir a navegação quando o menu estiver aberto */
  .navOpen {
    display: flex;
  }

  /* Exibir o ícone de fechar menu quando o menu estiver aberto */
  .navOpen .closeMenuIcon {
    display: block;
  }
}

/* Estilos do footer */
.footer {
  background-color:#f5b856; 
  padding: 20px;
  text-align: center;
  color: #333;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfo {
  margin-bottom: 10px;
}

.contactButton a {
  color: white;
  background-color: #0070f3;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.socialMedia {
  margin-top: 10px;
}

.socialMedia a {
  color: white;
}
