.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .image {
    margin-bottom: 20px;
  }
  
  .titleError {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .paragrafoError {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .link {
    color:rgb(254, 189, 87);
    text-decoration: underline;
    font-size: 1.2rem;
  }
  