/* agendamentos.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 5px;
  text-align: center;
}

.titlecontaineragendamento {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.cardsContainer {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px; /* Aumenta o espaço entre os cards */
  justify-items: center;
}

.card {
  background-color: #d1476e;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: calc(100% - 20px); /* Reduz um pouco a largura para dar espaço */
  max-width: 600px; /* Define um limite máximo para evitar que o card fique muito grande */
  margin-left: 10px; /* Adiciona margem para evitar que os cards fiquem muito próximos */
  margin-right: 10px; /* Adiciona margem lateral também */
}

.card p {
  margin: 5px 0;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.editButton,
.removeButton,
.saveButton,
.cancelButton {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background-color: #0070f3;
  width: 150px;
  transition: background-color 0.3s ease;
}

.editButton:hover,
.removeButton:hover {
  background-color: #339af0;
}

.editForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editForm select,
.editForm input {
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.editForm button {
  margin-top: 15px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editForm button:hover {
  background-color: #218838;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .titlecontaineragendamento {
    font-size: 1.8em;
  }

  .card {
    max-width: 100%;
  }

  .editButton,
  .removeButton {
    width: 120px;
  }
}
